In [45]:
#data
expenses = [
    {"category": "Food", "amount": 2200},
    {"category": "Transport", "amount": 950},
    {"category": "Utilities", "amount": 3200},
    {"category": "Shopping", "amount": 4100},
    {"category": "Entertainment", "amount": 1750},
    {"category": "Food", "amount": 1350},
    {"category": "Health", "amount": 2600},
    {"category": "Travel", "amount": 5000},
    {"category": "Rent", "amount": 8200},
    {"category": "Savings", "amount": 4000}
]

print(expenses)

[{'category': 'Food', 'amount': 2200}, {'category': 'Transport', 'amount': 950}, {'category': 'Utilities', 'amount': 3200}, {'category': 'Shopping', 'amount': 4100}, {'category': 'Entertainment', 'amount': 1750}, {'category': 'Food', 'amount': 1350}, {'category': 'Health', 'amount': 2600}, {'category': 'Travel', 'amount': 5000}, {'category': 'Rent', 'amount': 8200}, {'category': 'Savings', 'amount': 4000}]

In [47]:
total_expenses = 0
for item in expenses:
    total_expenses += item['amount']

print("Total Cost:",total_expenses)

Total Cost: 33350

In [49]:
#Category wise expense
category_wise={}

for item in expenses:
    category = item['category']
    amount = item['amount']
    if category in category_wise:
        category_wise[category] += amount
    else:
        category_wise[category] = amount

print("Category Wise Cose:", category_wise)

Category Wise Cose: {'Food': 3550, 'Transport': 950, 'Utilities': 3200, 'Shopping': 4100, 'Entertainment': 1750, 'Health': 2600, 'Travel': 5000, 'Rent': 8200, 'Savings': 4000}

In [51]:
#Compare with income
income = 30000
total_saving = income - total_expenses

if total_saving > 0:
    print("You managed to save", total_saving,'TK')
    
elif total_saving == 0:
    print("Break even! No savings, no loss")

else:
    print("You are in loss:", abs(total_saving),'TK')

You are in loss: 3350 TK

In [53]:
#Highest Expenses Category
highest_cost = 0
category_name=""

for item in category_wise:
    if category_wise[item] > highest_cost:
        highest_cost = category_wise[item]
        category_name = item

print("The highest expense in categroy",category_name,'with a cost of', highest_cost, 'TK')

The highest expense in categroy Rent with a cost of 8200 TK