In [1]:
print("Hello Student!Superman Session Project 1 starts")

Hello Student!Superman Session Project 1 starts

In [3]:
student = { "name": "Arafat", "math":85, "eng": 78, "science":92 }
print(student)
print(student["name"])
print(student["math"])

{'name': 'Arafat', 'math': 85, 'eng': 78, 'science': 92}
Arafat
85

In [7]:
students = [
    { "name": "Arafat", "math": 85, "eng": 74, "science": 88 },
    { "name": "Rifat", "math": 86, "eng": 81, "science": 90 },
    { "name": "Forhad", "math": 95, "eng": 92, "science": 96 },
    { "name": "Rahat", "math": 87, "eng": 76, "science": 85 },
    { "name": "Sabiha", "math": 97, "eng": 89, "science": 94 },
    { "name": "Nazifa", "math": 75, "eng": 72, "science": 80 },
    { "name": "Junaid", "math": 90, "eng": 85, "science": 91 },
    { "name": "Adnan", "math": 43, "eng": 60, "science": 65 },
    { "name": "Hasnat", "math": 80, "eng": 78, "science": 83 },
    { "name": "Nahian", "math": 94, "eng": 88, "science": 95 },
    { "name": "Hridoy", "math": 65, "eng": 70, "science": 72 },
]
print("Total Studnet:",len(students))
print(students) # student list

Total Studnet: 11
[{'name': 'Arafat', 'math': 85, 'eng': 74, 'science': 88}, {'name': 'Rifat', 'math': 86, 'eng': 81, 'science': 90}, {'name': 'Forhad', 'math': 95, 'eng': 92, 'science': 96}, {'name': 'Rahat', 'math': 87, 'eng': 76, 'science': 85}, {'name': 'Sabiha', 'math': 97, 'eng': 89, 'science': 94}, {'name': 'Nazifa', 'math': 75, 'eng': 72, 'science': 80}, {'name': 'Junaid', 'math': 90, 'eng': 85, 'science': 91}, {'name': 'Adnan', 'math': 43, 'eng': 60, 'science': 65}, {'name': 'Hasnat', 'math': 80, 'eng': 78, 'science': 83}, {'name': 'Nahian', 'math': 94, 'eng': 88, 'science': 95}, {'name': 'Hridoy', 'math': 65, 'eng': 70, 'science': 72}]

In [11]:
for i in students:
    i['total'] = i["math"]  + i ["eng"] + i["science"]

for i in students:
    print(i['name'],'-> total',i['total'])

Arafat -> total 247
Rifat -> total 257
Forhad -> total 283
Rahat -> total 248
Sabiha -> total 280
Nazifa -> total 227
Junaid -> total 266
Adnan -> total 168
Hasnat -> total 241
Nahian -> total 277
Hridoy -> total 207

In [15]:
highest = -1
topper_name = ""
for i in students:
    if i['total'] > highest:
        highest = i['total']
        topper_name = i['name']

print("Topper name: ", topper_name, 'with ', highest, 'marks')

Topper name:  Forhad with  283 marks

In [31]:
# Print Report Card
print("--------Studnes Report Card--------")
for i in students:
    print("....Report Card....")
    print('Name       :', i['name'])
    print('Math       :', i['math'])
    print('English    :', i['eng'])
    print('Science    :', i['science'])
    print('Total marks:', i['total'])
    print('----Happy Life----')
    print()

--------Studnes Report Card--------
....Report Card....
Name       : Arafat
Math       : 85
English    : 74
Science    : 88
Total marks: 247
----Happy Life----

....Report Card....
Name       : Rifat
Math       : 86
English    : 81
Science    : 90
Total marks: 257
----Happy Life----

....Report Card....
Name       : Forhad
Math       : 95
English    : 92
Science    : 96
Total marks: 283
----Happy Life----

....Report Card....
Name       : Rahat
Math       : 87
English    : 76
Science    : 85
Total marks: 248
----Happy Life----

....Report Card....
Name       : Sabiha
Math       : 97
English    : 89
Science    : 94
Total marks: 280
----Happy Life----

....Report Card....
Name       : Nazifa
Math       : 75
English    : 72
Science    : 80
Total marks: 227
----Happy Life----

....Report Card....
Name       : Junaid
Math       : 90
English    : 85
Science    : 91
Total marks: 266
----Happy Life----

....Report Card....
Name       : Adnan
Math       : 43
English    : 60
Science    : 65
Total marks: 168
----Happy Life----

....Report Card....
Name       : Hasnat
Math       : 80
English    : 78
Science    : 83
Total marks: 241
----Happy Life----

....Report Card....
Name       : Nahian
Math       : 94
English    : 88
Science    : 95
Total marks: 277
----Happy Life----

....Report Card....
Name       : Hridoy
Math       : 65
English    : 70
Science    : 72
Total marks: 207
----Happy Life----